.gallery-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: aquamarine;
}

.gallery-card{
  position: relative;
  width: 400px;
  height: 300px;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba (0,0,0,0.2);
  cursor: pointer;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform $tiempo-transiccion ease;
}

.overlay{
  position: absolute;
  inset: 0;
  background-color: $overlay-bg;
  color: $color-texto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 2;
  transform: translateY(100%);
  transition: all $tiempo-transiccion ease;
}

h3{
  margin-bottom: 0.5rem;
}

&:hover img{
  transform: scale(1.1);
}

&:hover .overlay{
  opacity: 1;
  transform: translateY(0);
}