$background-color: lightblue;
$color-texto: "black";
$color-primario: "white";
$color-secundario: "orange";
$fondo-overlay: "gray";
$opacity-overlay: 0.6;
$overlay-bg: rgba(0, 0, 0, 0.6);
$tiempo-transiccion: 0.4s;
